body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.js-todo-list, .input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 20px;
  row-gap: 5px;
  align-items: center;
  margin: 10px;
}

.input-grid {
  margin-bottom: 5px;
  align-items: stretch;
}

.add-button {
  border: none;
  background-color: rgb(173, 255, 177);
  color: rgb(17, 145, 0);
  font-weight: bold;
  font-size: 16px;
  padding: 14px;
  border-radius: 20px;
  cursor: pointer;
}

.delete-button {
  border: none;
  background-color: rgb(255, 173, 173);
  color: rgb(145, 0, 0);
  font-weight: bold;
  font-size: 16px;
  padding: 14px;
  border-radius: 20px;
  cursor: pointer;
}

.input-name, .input-date {
  font-size: 16px;
  padding: 8px;
}